.ion-card-signatures-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#section-button-signature{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}