.card-list-unique{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0 !important;
}

#subtitle-card-order{
    font-size: 1.5rem;
}

.card-product-list{
    margin-top: 0;
}

#button-signature{
    display: flex;
    justify-content: flex-end;
}